body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1,
h2 {
    color: blue;
    margin: 10px 0;
    text-align: center;
}

.tab {
    text-align: center;
    margin-bottom: 20px;
}

.tab button {
    background-color: #f1f1f1;
    display: inline-block;
    border: 2px solid #d1d1d1;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 10px;
}

.tab button:hover {
    background-color: blue;
    color: white;
}

.tab button.active {
    background-color: blue;
    color: white;
    border-color: blue;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.game-button {
    padding: 10px 20px;
    margin: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#coin-image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.results {
    margin-top: 20px;
}

.guessField {
    font-size: x-large;
}

.message {
    padding: 3px;
    font-size: xx-large;
}

.tooBig {
    background-color: pink;
    color: blue;
}

.tooSmall {
    background-color: lightblue;
    color: blue;
}

.tooMany {
    background-color: red;
    color: black;
}

.justRight {
    background-color: lightgreen;
    color: green;
}

#guessesText {
    display: inline;
    margin-right: 10px;
}

#guessesContainer {
    display: inline;
}

#guessList {
    display: inline;
}

.guess {
    margin-right: 10px;
}
#resetButton {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.2s;
}
#resetButton:hover {
    background-color: #e7e7e7;
}

#resetButton:active {
    background-color: #d7d7d7;
}